body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    
}

.titulo {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: roboto;
}

.hidden {
    display: none;
}

